html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

body, button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

p, td {
	font-size: 13px;
	line-height: 1.4;
	margin: 2ex 0;
	padding: 0;
}

td {
	vertical-align: top;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

button {
	margin: 0 0.5em;
}

h1, #options td {
	text-align: center;
	margin: 0;
	padding: 0;
}

.wide, #options {
	width: 100%;
}

table.center {
	margin: 0 auto;
}

.high, #loading, #main, #answers, #lines {
	height: 100%;
}

#loading td {
	text-align: center;
	vertical-align: middle;
}

#main {
	display: none;
}

#options td {
	background-color: gray;
	border: 5px solid white;
	font-weight: bold;
	font-size: 120%;
}

span.selector {
	margin-left: 0.5em;
}

.selector input {
	margin-right: 0.3em;
}

#options .selector:hover {
	color: #fc0;
	cursor: pointer;
}

#options a {
	text-decoration: none;
}

#schemeBlock {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#scheme {
	position: absolute;
	transform-origin: top left;
}

#scheme div {
	line-height: 0;
}

#scheme div:first-of-type img {
	transform: scaleY(-1);
}

img.scheme {
	background: url("images/rigging.png") no-repeat;
	background-size: contain;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.mask {
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
	top: 0;
	height: 100%;
	display: none;
}

#shadowFore {
	left: 72.5%;
	width: 27.5%;
}

#shadowMain {
	left: 39.2%;
	width: 33.3%;
}

#shadowStern {
	left: 0;
	width: 39.2%;
}

img.point {
	position: absolute;
	background: url("images/sprite.png") no-repeat; /* red */
	filter: brightness(0); /* black */
}

.mark {
	color: red;
}

.colored .clewline {
	filter: hue-rotate(60deg) brightness(220%); /* yellow */
}

.colored .buntline {
	filter: hue-rotate(120deg) brightness(110%); /* dark green */
}

.colored .clewbuntlines {
	filter: hue-rotate(78deg) brightness(250%); /* yellow/green */
}

.colored .leechline {
	filter: hue-rotate(-30deg) brightness(70%); /* dark red */
}

.colored .bowline {
	filter: hue-rotate(-120deg) brightness(100%); /* dark blue */
}

.point.active:hover, .point.active.on {
    filter: brightness(0) /* black */ invert(100%) /* white */ blur(1px) drop-shadow(0px 0px 15px #fc0) drop-shadow(0px 0px 15px #fc0) drop-shadow(0px 0px 15px #fc0) drop-shadow(0px 0px 15px #fc0) drop-shadow(0px 0px 15px #fc0) drop-shadow(0px 0px 15px #fc0) drop-shadow(0px 0px 15px #fc0) drop-shadow(0px 0px 15px #fc0);
}

.point.wrongAnswer {
    filter: brightness(0) /* black */ invert(100%) /* white */ blur(1px) drop-shadow(0px 0px 15px red) drop-shadow(0px 0px 15px red) drop-shadow(0px 0px 15px red) drop-shadow(0px 0px 15px red) drop-shadow(0px 0px 15px red) drop-shadow(0px 0px 15px red) drop-shadow(0px 0px 15px red) drop-shadow(0px 0px 15px red);
}

.point.rightAnswer {
    filter: brightness(0) /* black */ invert(100%) /* white */ blur(1px) drop-shadow(0px 0px 15px green) drop-shadow(0px 0px 15px green) drop-shadow(0px 0px 15px green) drop-shadow(0px 0px 15px green) drop-shadow(0px 0px 15px green) drop-shadow(0px 0px 15px green) drop-shadow(0px 0px 15px green) drop-shadow(0px 0px 15px green);
}

img.pin {
	width: 48px;
	height: 48px;
	background-position: 7px -80px;
}

img.cleat {
	width: 56px;
	height: 23px;
	background-position: -8px -128px;
}

img.vcleat {
	width: 209px;
	height: 126px;
	background-position: -138px -94px;
}

img.scleat {
	width: 126px;
	height: 70px;
	background-position: -1px -160px;
}

img.fist {
	width: 65px;
	height: 60px;
	background-position: -65px -96px;
}

img.knot {
	width: 119px;
	height: 54px;
	background-position: -5px -11px;
}

img.vang {
	width: 60px;
	height: 93px;
	background-position: -152px -1px;
}

#schemeBorderFix * {
	line-height: 0.1;
}

.pin, .line {
	font-weight: bold;
}

.active {
	cursor: pointer;
}

a.pin.active:hover, a.pin.active.on {
	color: white;
	filter: drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0);
}

a.pin.wrongAnswer {
	color: white;
	filter: drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red);
}

a.pin.rightAnswer {
	color: white;
	filter: drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green);
}

.deck, .mast {
	padding: 0 2em;
}

.questionBlock {
	border-top: 2px solid black;
	text-align: center;
	padding-bottom: 1em;
}

#question {
	text-align: center;
	margin-top: 0;
}

#rightAnswer {
	color: green;
	font-weight: bold;
}

#wrongAnswer {
	font-weight: bold;
}

#wrongAnswer span:first-child {
	color: red;
}

.choiceBlock {
	border-top: 2px solid black;
}

#info {
	text-align: center;
	vertical-align: middle;
	height: 100%;
}

.logo {
	background: #94bfd8;
	padding: 1em;
	border: 1px solid black;
}

#footer {
	border-top: 2px solid black;
}

#footer p {
	margin: 0.1em 0.3em 0.3em;
}

.icon {
	vertical-align: bottom;
}
