/* Box sizing reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit;
}

/* Widths and heights */

html, body, table, #schemeBlock svg, #selectFill, #selectMasts, #selectDecks  {
	width: 100%;
}

html, body, #mainTable, #mainRow, .choiceBlock {
	height: 100%;
}

/* Margins and paddings */

html, body, h1, #sublines h3, #infoBlock button {
	margin: 0;
}

html, body, p, td, h1 {
	padding: 0;
}

p, td {
	margin: 2ex 0;
}

button {
	margin: 0 0.5em;
}

#controls td {
	padding: 0.3em 0.4em;
}

#controls span {
	margin: 0.5em 0;
}

span.selector {
	margin-left: 0.5em;
}

.selector input {
	margin-right: 0.3em;
}

.deck, .mast {
	padding: 0 1em;
}

.questionBlock {
	padding-bottom: 1em;
}

#question {
	margin-top: 0;
}

#sublines * {
	margin: 0;
}

#sublines h2 {
	margin-top: 0.7em;
}

#sublines h3:first-child {
	margin-top: 0.45em;
}

#sublines ul + h3 {
	margin-top: 0.75em;
}

#sublines ul:first-child {
	margin-top: 1em;
}

#sublines h2 + ul {
	margin-top: 0.65em;
}

#sublines h3 + ul {
	margin-top: 0.25em;
}

#sublines ul + ul {
	margin-top: 1.35em;
}

#infoBlock {
	padding: 0 2em 2em;
}

#infoBlock p {
	margin: 1.5em 0;
}

#footer p {
	margin: 0.1em 0.4em 0.2em;
}

/* Alignment */

#infoBlock p {
	text-align: justify;
}

h1, #selectMasts, #selectDecks, .questionBlock, #question, #infoBlock, #infoIntro p, #infoQuestions p {
	text-align: center;
}

.choiceBlock table { /* centered */
	margin: 0 auto;
	width: 0;
}

#footer :last-child > p {
	text-align: right;
}

td {
	vertical-align: top;
}

#infoBlock {
	vertical-align: middle;
}

.icon {
	vertical-align: bottom;
}

/* Whitespace */

html, body {
	white-space: nowrap;
}

#infoBlock {
	white-space: normal;
}

/* Opacity */

#wood g {
	opacity: 0.4;
}

.deckMask {
	opacity: 0.75;
}

.aura {
	stroke: transparent;
	stroke-width: 3;
}

/* Miscellaneous settings */

body, input, button, .selector, .point, .pointNumber, .subline {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

ul {
	list-style-type: none;
	padding: 0;
}

#filters {
	height: 0;
}

#controls .selector, .pointNumber, .subline {
	cursor: default;
}

#infoBlock span {
	position: relative;
	z-index: -1;
}

#logo {
	background: #94bfd8;
	padding: 1em;
}

/* Loading settings */

.loading, #infoLoading {
	display: none;
}

#mainCell.loading {
	display: table-cell;
	vertical-align: middle;
}

#infoLoading.loading {
	display: block;
}

/* Tipsy settings */

.tipsy {
	position: absolute;
	padding: 5px;
	z-index: 10;
}

.tipsy-inner {
	padding: 3px 8px 4px;
	text-align: center;
 	border-radius: 3px;
}

.tipsy-arrow {
	position: absolute;
	background: url("images/tipsy.gif") no-repeat top left;
	width: 9px;
	height: 5px;
}

.tipsy-n .tipsy-arrow {
	top: 0;
	left: 50%;
	margin-left: -4px;
}

.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
}

.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
}

.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -4px;
	background-position: bottom left;
}

.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	background-position: bottom left;
}

.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	background-position: bottom left;
}

.tipsy-e .tipsy-arrow {
	top: 50%;
	right: 0;
	margin-top: -4px;
	width: 5px;
	height: 9px;
	background-position: top right;
}

.tipsy-w .tipsy-arrow {
	top: 50%;
	left: 0;
	margin-top: -4px;
	width: 5px;
	height: 9px;
}

/* Fonts */

body, button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

p, td, button {
	font-size: 13px;
}

#controls td {
	font-size: 120%;
}

.tipsy {
	font-size: 11px;
}

p, td {
	line-height: 1.4;
}

#infoBlock {
	line-height: 1.2;
}

#controls td, #rightAnswer, #wrongAnswer, .pointNumber, .subline, #infoBlock span, #infoLoading, .tipsy {
	font-weight: bold;
}

#sublines h3 {
	font-weight: normal;
}

/* Background color */

body {
	background: #ffeca4;
}

#controls td {
	border: 5px solid #ffeca4;
}

.deckMask, .tipsy-inner {
	color: #ffeca4;
}

#pinhole, #pipe {
	fill: #ffeca4;
}

/* Text color */

body, button, #drawing, #wood {
	color: #4e1d00;
}

#logo {
	border: 1px solid #4e1d00;
}

#schemeBlock, .questionBlock {
	border-bottom: 2px solid #4e1d00;
}

#footer {
	border-top: 2px solid #4e1d00;
}

.tipsy {
	-webkit-filter: drop-shadow(1px 1px 2px #4e1d00);
	filter: drop-shadow(1px 1px 2px #4e1d00);
}

.tipsy-inner {
	background-color: #4e1d00;
}

/* Controls colors */

#controls td {
	background-color: #b38451;
}

#controls .selector[disabled] {
	color: #555;
}

#controls .selector:not([disabled]):hover {
	color: #fc0;
}

/* Scheme colors */

#pinhole, #pipe {
	color: #936c3f;
}

.solid {
	fill: #a78452;
}

.rail {
	fill: #e5cd8c;
}

.mastMask {
	color: red;
}

#points, .pointNumber {
	color: black;
}

/* Mark colors */

.colored .clewline, #infoBlock .clewline {
	color: #eb7d01; /* dark yellow */
}

.colored .buntline, #infoBlock .buntline {
	color: #017c01; /* dark green */
}

.colored .clewline.buntline, #infoBlock .clewline.buntline {
	color: #6cc100; /* yellow green */
}

.colored .leechline, #infoBlock .leechline {
	color: #b3014b; /* dark red */
}

.colored .bowline, #infoBlock .bowline {
	color: #0031ff; /* dark blue */
}

/* Questionnary highlighting colors */

#rightAnswer, .filterRightAnswer {
	color: green;
}

#points .rightAnswer {
	-webkit-filter: url(#filterRightAnswerPoint);
	filter: url(#filterRightAnswerPoint);
}

.choiceBlock .rightAnswer, #infoBlock .rightAnswer {
	-webkit-filter: url(#filterRightAnswerText);
	filter: url(#filterRightAnswerText);
}

#wrongAnswer span:first-child, .filterWrongAnswer {
	color: red;
}

#points .wrongAnswer {
	-webkit-filter: url(#filterWrongAnswerPoint);
	filter: url(#filterWrongAnswerPoint);
}

.choiceBlock .wrongAnswer, #infoBlock .wrongAnswer {
	-webkit-filter: url(#filterWrongAnswerText);
	filter: url(#filterWrongAnswerText);
}

#pointNumbers .rightAnswer:not(.on), #sublines .rightAnswer:not(.on), #infoBlock .rightAnswer,
#pointNumbers .wrongAnswer:not(.on), #sublines .wrongAnswer:not(.on), #infoBlock .wrongAnswer {
	color: white;
}

.filterHighlight {
	color: #fc0;
}

#points .on {
	-webkit-filter: url(#filterHighlightPoint);
	filter: url(#filterHighlightPoint);
}

.choiceBlock .on, #infoBlock .on, #sublines .preAnswer {
	-webkit-filter: url(#filterHighlightText);
	filter: url(#filterHighlightText);
}
