html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

body {
	background: #ffeca4;
}

body, button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #4e1d00;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table.center {
	margin: 0 auto;
	width: 0;
}

p, td, button {
	font-size: 13px;
}

p, td {
	line-height: 1.4;
	margin: 2ex 0;
	padding: 0;
}

td {
	vertical-align: top;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

button {
	margin: 0 0.5em;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 0;
}

.loading {
	display: none;
}

#mainTable, #mainRow, .choiceBlock {
	height: 100%;
}

#mainCell.loading {
	display: table-cell;
	vertical-align: middle;
}

#infoLoading {
	display: none;
	font-weight: bold;
}

#infoLoading.loading {
	display: block;
}

#controls td {
	background-color: #b38451;
	border: 5px solid #ffeca4;
	font-weight: bold;
	font-size: 120%;
	padding: 0.3em 0.4em;
}

#controls span {
	margin: 0.5em 0;
}

#selectModes {
	width: 47%;
}

#selectMasts, #selectDecks {
	width: 38%;
}

#options {
	width: 15%;
}

#selectFill {
	width: 53%;
}

span.selector {
	margin-left: 0.5em;
}

.selector input {
	margin-right: 0.3em;
}

body, input, button, .selector, .point, .pointNumber, .subline {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

#controls .selector {
	cursor: default;
}

#controls .selector[disabled] {
	color: #555;
}

#controls .selector:not([disabled]):hover {
	color: #fc0;
}

#schemeBlock, .questionBlock {
	border-bottom: 2px solid #4e1d00;
}

#schemeBlock td {
	padding: 0.4em 0;
}

.pointNumber, .subline {
	font-weight: bold;
	cursor: default;
}

.pointNumber.on, .subline.on, .subline.preAnswer, .doc.on {
	-webkit-filter: drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0);
	filter: drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0) drop-shadow(0px 0px 0.4em #fc0);
}

.pointNumber.wrongAnswer, .subline.wrongAnswer, .doc.wrongAnswer {
	-webkit-filter: drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red);
	filter: drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red) drop-shadow(0px 0px 0.4em red);
}

.pointNumber.rightAnswer, .subline.rightAnswer, .doc.rightAnswer {
	-webkit-filter: drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green);
	filter: drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green) drop-shadow(0px 0px 0.4em green);
}

.wrongAnswer:not(.on), .rightAnswer:not(.on) {
	color: white;
}

.pointNumber {
	color: black;
}

.colored .pointNumber.clewline, .doc.clewline {
	color: #eb7d01; /* dark yellow */
}

.colored .pointNumber.buntline, .doc.buntline {
	color: #017c01; /* dark green */
}

.colored .pointNumber.clewline.buntline, .doc.clewline.buntline {
	color: #6cc100; /* yellow green */
}

.colored .pointNumber.leechline, .doc.leechline {
	color: #b3014b; /* dark red */
}

.colored .pointNumber.bowline, .doc.bowline {
	color: #0031ff; /* dark blue */
}

.deck, .mast {
	padding: 0 1em;
}

.questionBlock {
	text-align: center;
	padding-bottom: 1em;
}

#question {
	text-align: center;
	margin-top: 0;
}

#rightAnswer, #wrongAnswer {
	font-weight: bold;
}

#rightAnswer {
	color: green;
}

#wrongAnswer span:first-child {
	color: red;
}

#sublines h3 {
	font-weight: normal;
}

#sublines h2 {
	margin-bottom: 0.5em;
}

#sublines h3 {
	margin: 0;
}

#sublines ul:first-child {
	margin-top: 1.5em;
}

#sublines h3 + ul {
	margin-top: 0.5em;
}

#infoBlock {
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	padding: 0 2em 2em;
	line-height: 1.2;
}

#infoBlock p {
	text-align: justify;
	margin: 1.5em 0;
}

#infoIntro p, #infoQuestions p {
	text-align: center;
}

span.doc {
	font-weight: bold;
	z-index: -1;
}

button.doc {
	margin: 0;
}

#logo {
	background: #94bfd8;
	padding: 1em;
	border: 1px solid #4e1d00;
}

#footer {
	border-top: 2px solid #4e1d00;
}

#footer p {
	margin: 0.1em 0.4em 0.2em;
}

#footer :last-child > p {
	text-align: right;
}

.icon {
	vertical-align: bottom;
}

/* SVG scheme styles */

#schemeBlock object, #schemeBlock svg {
	width: 100%;
}

#schemeBlock svg #drawing * {
	stroke: #4e1d00;
}

#schemeBlock svg #drawing .filled {
	  fill: #4e1d00;
}

#schemeBlock svg .deckMask {
	  fill: #ffeca4;
	opacity: 0.75;
}

#schemeBlock svg .mastMask {
	stroke: red;
}

#schemeBlock svg #points {
	stroke: black;
}

#schemeBlock svg .colored .clewline {
	stroke: #eb7d01; /* dark yellow */
	  fill: #eb7d01;
}

#schemeBlock svg .colored .buntline {
	stroke: #017c01; /* dark green */
	  fill: #017c01;
}

#schemeBlock svg .colored .clewline.buntline {
	stroke: #6cc100; /* yellow green */
	  fill: #6cc100;
}

#schemeBlock svg .colored .leechline {
	stroke: #b3014b; /* dark red */
	  fill: #b3014b;
}

#schemeBlock svg .colored .bowline {
	stroke: #0031ff; /* dark blue */
	  fill: #0031ff;
}

#schemeBlock svg .on {
	filter: url(#filterHighlight);
}

#schemeBlock svg .rightAnswer {
	filter: url(#filterRightAnswer);
}

#schemeBlock svg .wrongAnswer {
	filter: url(#filterWrongAnswer);
}
